.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

@media (max-width: 768px) {
  .grid-container {
    gap: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .grid-container {
    gap: 20px;
  }
}

@media (min-width: 1201px) {
  .grid-container {
    gap: 30px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 140px;
  border-radius: 10%;
  background-color: #ececec;
 
}

.box > * + * {
  margin-top: 10px;
}

.boxTitleforpro {
  font-size: 17px;
  color: #5c5c5c;
  font-weight: 500; 
  font-family: Rosaric, sans-serif;
}

.profile-info {
  margin-bottom: 5px;
  font-weight: 500;
}

.custom-input {
  background-color: #ececec;
  border: 1px solid #c0c0c0;
}
