body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;

  color: #000000;
}

.text-body-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
}
